.c-row.footer_view
    .contact-details.c-col.wrap.c-l__6.c-m__12.align-middle
        h4 Contactez-nous
        .contact-info
            a(href="#")
                input(type="button" value="04 73 05 39 11").number
            a(href="#")
                input(type="button" value="Via le formulaire").formulaire
    .c-col.wrap.c-l__6.align-middle.c-m__12.adress-info
        a(href="#")
            img(src=imgDir + "logo.png", alt="")
        .adress-details
            p 10 bis rue des Frere Lumieres <br>
            p ZI du Brezet <br>
            p 63100 Clermont-Ferrand
