.c-row.footer_view
    .c-col.wrap.c-l__6.align-middle
        p hello
    .contact-details.c-col.wrap.c-l__6.align-middle
        h4 Contactez-nous
        .contact-info
            a(href="#")
                input(type="button" value="04 73 05 39 11").number
            a(href="#")
                input(type="button" value="Via le formulaire").formulaire
