.main_top_text
    .main_image
        img(src=imgDir +"main_top.jpg", alt="")
    .main_text
        a(href="#")
            h1 OD Concept
            span 
                p Spécialiste du luminaire
            p(class="decouvrir") DECOUVRER
            img(src=imgDir + "eclipse.png", alt="")
