.c-row
    .metier-slides
        .metier-view
            .meta_view
                img(src=imgDir+"metier.jpg", alt="")
                .metier-details
                    h3 Comprendre votre besoin

                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed.dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor. <br>
                    span
                        p DECOUVRIR NOTRE EXPERTISE
        .metier-view
            .meta_view
                img(src=imgDir+"main_top.jpg", alt="")
                .metier-details
                    h3 Comprendre votre besoin

                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed.dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor. <br>
                    span
                        p DECOUVRIR NOTRE EXPERTISE
