.c-row
    .metier-view
        img(src=imgDir+"metier.jpg", alt="")
        .metier-details
            h3 Comprendre votre besoin

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed.dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor. <br>
            p DECOUVRIR NOTRE EXPERTISE
