
.c-row.c-wysiwyg(style='margin-top:40px;padding-top:0px;border-top:1px solid #e0e0e0')
    h1 Nos réalisations
    - const real_value = [{imgLink: imgDir + "realisation_img.jpg", imgTitle: 'Restaurant le Pré corré', imgDesc: 'projet réalisé en partenariat avec Hervé Porte'},{imgLink: imgDir + "realisation_img.jpg", imgTitle: 'Restaurant le Pré corré', imgDesc: 'projet réalisé en partenariat avec Hervé Porte'},{imgLink: imgDir + "realisation_img.jpg", imgTitle: 'Restaurant le Pré corré', imgDesc: 'projet réalisé en partenariat avec Hervé Porte'}]
        .c-row.not-pdg.align-middle
        each n in real_value
            .c-col.wrap.c-l__4.align-middle
                img(src=n.imgLink, alt="")
                .imgText
                    h3= n.imgTitle
                    p= n.imgDesc