//- layout
extends layouts/_default

append body
    .row
        .columns_main_top
            include components/_main_top
    section
        include components/_realisation
    .row
        .showroom
            include components/_showroom_section
    .row
        .gird_acomp
            .columns_grid
                include components/_grid_view