//- layout
extends layouts/_default

append body
    .row
        .columns_main_top
            include components/_main_top
    section
        include components/_realisation
    .row
        .gird_acomp
            .colmuns_grid
                include components/_grid_view