header.o-header
    .row
        .columns_nav 
            .logo
                a(href="#")
                    img(src=imgDir +"logo.png", alt="")
                p Toute la lumiere
            include _navigation
