.c-paginate--responsive
    .row
        .columns
            ol
                li: a.prev(href="") <
                li.c-numbers: ol
                    li: a(href="") 1
                    li: a(href="") 2
                    li.current 3
                    li: a(href="") 4
                    li: a(href="") 5
                    li: a(href="") 6
                    li: a(href="") 7
                    li: a(href="") 8
                    li: a(href="") 9
                    li: a(href="") 10
                    li: a(href="") 11
                    li: a(href="") 12
                    li: a(href="") 13
                li: a.next(href="") >
